---
import AcademicCapIcon from '@components/icons/heroicons/AcademicCapIcon.astro';
import ArrowLongRightIcon from '@components/icons/heroicons/ArrowLongRightIcon.astro';
import BeakerIcon from '@components/icons/heroicons/BeakerIcon.astro';
import CPUChipIcon from '@components/icons/heroicons/CPUChipIcon.astro';
import ChartBarIcon from '@components/icons/heroicons/ChartBarIcon.astro';
import ComputerDesktopIcon from '@components/icons/heroicons/ComputerDesktopIcon.astro';
import CubeTransparentIcon from '@components/icons/heroicons/CubeTransparentIcon.astro';
import DocumentTextIcon from '@components/icons/heroicons/DocumentTextIcon.astro';
import GlobeAltIcon from '@components/icons/heroicons/GlobeAltIcon.astro';
import ShieldCheckIcon from '@components/icons/heroicons/ShieldCheckIcon.astro';
import VariableIcon from '@components/icons/heroicons/VariableIcon.astro';
import WifiIcon from '@components/icons/heroicons/WifiIcon.astro';
---

<section class="py-10 md:py-16 xl:py-24">
  <div class="container mx-auto px-4 md:px-6 xl:px-8">
    <div class="h-2 w-12 rounded-lg bg-brand md:w-16"></div>

    <span
      class="mt-2
              inline-block
              font-montserrat
              text-2xl
              font-bold
              md:text-3xl
              xl:text-4xl"
    >
      Sobre mim
    </span>

    <div class="grid grid-cols-1 gap-2 gap-x-12 sm:grid-cols-2 xl:grid-cols-3">
      <div class="mt-4 space-y-4 sm:col-span-2 md:col-span-1 md:row-span-2">
        <p>
          Trabalho no mercado de tecnologia da informação desde 2006, na maior
          parte do tempo como Engenheiro de Software e Cientista.
        </p>

        <p>
          Sou uma pessoa no espectro autista extremamente focada, com excelentes
          habilidades observacionais e atenção a detalhes. Tenho uma perspectiva
          diferenciada, sou criativo, íntegro e apoio às diferenças.
        </p>

        <p>
          Amo tudo relacionado à ciência e tecnologia, sempre disposto a
          explorar o desconhecido!
        </p>
      </div>

      <div class="mt-4">
        <span>
          <ArrowLongRightIcon className="inline size-5 text-brand" />
          Um pouco mais sobre mim:
        </span>

        <ul>
          <li>
            <AcademicCapIcon className="inline size-6" />
            Educador
          </li>
          <li>
            <ComputerDesktopIcon className="inline size-6" />
            Engenheiro de Software
          </li>
          <li>
            <BeakerIcon className="inline size-6" />
            Cientista
          </li>
          <li>
            <VariableIcon className="inline size-6" />
            D.Sc. em Modelagem Computacional
          </li>
          <li>
            <DocumentTextIcon className="inline size-6" />
            Escritor
          </li>
        </ul>
      </div>

      <div class="mt-4">
        <span>
          <ArrowLongRightIcon className="inline size-5 text-brand" />
          No momento interessado em:
        </span>

        <ul>
          <li>
            <CPUChipIcon className="inline size-6" />
            Algoritmos
          </li>
          <li>
            <GlobeAltIcon className="inline size-6" />
            Computação Distribuída
          </li>
          <li>
            <ShieldCheckIcon className="inline size-6" />
            Criptografia
          </li>
          <li>
            <ChartBarIcon className="inline size-6" />
            Finanças Quantitativas
          </li>
          <li>
            <WifiIcon className="inline size-6" />
            Redes de Computadores
          </li>
          <li>
            <CubeTransparentIcon className="inline size-6" />
            Web3
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
