---
import ArrowLongRightMiniIcon from '../../components/icons/heroicons/ArrowLongRightMiniIcon.astro';
---

<section
  class="container
          relative
          mx-auto
          overflow-hidden
          py-40
          md:py-48
          xl:py-60"
>
  <div
    class="relative
            z-10
            bg-light
            px-4
            py-8
            text-center
            dark:bg-dark
            md:px-6
            md:text-left
            lg:bg-transparent
            xl:px-8"
  >
    <h2
      class="font-montserrat
              text-4xl
              font-bold
              md:text-5xl
              xl:text-6xl"
    >
      Ajudando a
      <span class="text-5xl text-brand md:text-6xl xl:text-7xl">
        criar
        <br class="hidden md:inline-block" />
         um mundo
      </span>
       melhor
    </h2>

    <h2
      class="font-lora
              text-xl
              tracking-widest
              md:text-2xl
              xl:text-3xl"
    >
      <span class="inline-block align-middle">
        <ArrowLongRightMiniIcon className="h-5 w-5 fill-dark dark:fill-light" />
      </span>
       uma instrução por vez
    </h2>
  </div>

  <div
    class="absolute
            -right-20
            bottom-20
            -rotate-45
            text-6xl
            opacity-10
            dark:opacity-20
            md:text-7xl
            xl:text-8xl"
  >
    mov ecx,hello
    <br />
     mov edx,len
    <br />
     mov eax,4
    <br />
     mov ebx,1
    <br />
     int 0x80
  </div>
</section>
