---
import { ViewTransitions } from 'astro:transitions';

import '@fontsource-variable/comfortaa';
import '@fontsource-variable/lora';
import '@fontsource-variable/montserrat';
import '@fontsource-variable/open-sans';

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title} | brnova.is</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5BBAD5" />
    <meta name="apple-mobile-web-app-title" content="brnova.is" />
    <meta name="application-name" content="brnova.is" />
    <meta name="msapplication-TileColor" content="#A600FF" />
    <meta name="theme-color" content="#FFA600" />

    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <script is:inline>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme:dark)').matches)
      )
        document.documentElement.classList.add('dark');
    </script>

    <ViewTransitions />
  </head>

  <body>
    <div
      class="flex
              min-h-screen
              flex-col
              bg-light
              text-base
              text-dark
              selection:bg-brand/30
              dark:bg-dark
              dark:text-light"
    >
      <slot />
    </div>
  </body>
</html>
