---
import PuzzlePieceIcon from '@components/icons/heroicons/PuzzlePieceIcon.astro';
---

<a
  href="/sobre/bruno-novais/autismo"
  class="h-9
          w-9
          rounded-lg
          p-1
          hover:bg-dark-100
          dark:hover:bg-light-800"
>
  <PuzzlePieceIcon className="inset-0" />
</a>
