---
import PuzzlePieceMiniIcon from '@components/icons/heroicons/PuzzlePieceMiniIcon.astro';
---

<a
  href="/sobre/bruno-novais/autismo"
  class="h-9
          w-9
          rounded-lg
          p-1
          hover:bg-dark-100
          dark:hover:bg-light-800"
>
  <PuzzlePieceMiniIcon className="h-5 w-5 fill-dark dark:fill-light" />
</a>
