---
const pathname = new URL(Astro.request.url).pathname;

const { href } = Astro.props;
---

<a
  href={href}
  class:list={[
    'p-2 text-right hover:bg-dark-100 dark:hover:bg-light-800',
    href === pathname ? 'font-bold' : 'font-normal',
  ]}
>
  <slot />
</a>
