---
import HamburgerMenu from '@components/navigation/HamburgerMenu.astro';
import NavigationItem from '@components/navigation/NavigationItem.astro';
import PuzzlePieceIcon from '@components/icons/heroicons/PuzzlePieceIcon.astro';
import SearchBox from '@components/navigation/SearchBox.astro';
import ThemeSwitcher from '@components/navigation/ThemeSwitcher.astro';
---

<div class="flex items-center">
  <NavigationItem href="/sobre/bruno-novais/autismo">
    <PuzzlePieceIcon className="size-6" />
  </NavigationItem>

  <NavigationItem><SearchBox /></NavigationItem>
  <NavigationItem><ThemeSwitcher /></NavigationItem>
  <NavigationItem><HamburgerMenu /></NavigationItem>
</div>
