---
import EnvelopeIcon from '@components/icons/heroicons/EnvelopeIcon.astro';
import GitHubIcon from '@components/icons/simpleicons/GitHubIcon.astro';
import LinkedInIcon from '@components/icons/simpleicons/LinkedInIcon.astro';
import ComfortaaLogo from '@components/logos/ComfortaaLogo.astro';
---

<footer>
  <div class="container mx-auto flex flex-wrap-reverse">
    <div class="m-4 grow md:m-6 xl:m-8">
      <ComfortaaLogo />
      <div>&copy; 2023 Bruno Novais</div>
    </div>

    <nav class="flex flex-wrap" aria-label="Footer">
      <div class="m-4 flex flex-col space-y-2 md:m-6 xl:m-8">
        <span class="font-bold uppercase text-brand">Principal</span>

        <a href="/">Início</a>
        <a href="/sobre/bruno-novais/">Sobre</a>
        <a href="/artigos">Artigos</a>
        <a href="/cursos">Cursos</a>
        <a href="/contato">Contato</a>
      </div>

      <div class="m-4 flex flex-col space-y-2 md:m-6 xl:m-8">
        <span class="font-bold uppercase text-brand">Outros</span>

        <a href="/sobre/bruno-novais/autismo">Autismo</a>
        <a href="/reconhecimentos">Reconhecimentos</a>
        <a href="/politica-de-privacidade">Política de Privacidade</a>
      </div>

      <div class="m-4 flex flex-col space-y-2 md:m-6 xl:m-8">
        <span class="font-bold uppercase text-brand">Contato</span>

        <a href="mailto:hello@brnova.is" class="flex items-center">
          <EnvelopeIcon className="h-5 w-5" />
          <span class="ml-1">ola@brnova.is</span>
        </a>

        <div class="flex space-x-2">
          <a
            href="https://github.com/brnovais"
            target="_blank"
            rel="noreferrer"
          >
            <GitHubIcon className="h-4 w-4 fill-dark dark:fill-light" />
          </a>
          <a
            href="https://www.linkedin.com/in/brnovais/"
            target="_blank"
            rel="noreferrer"
          >
            <LinkedInIcon className="h-4 w-4 fill-dark dark:fill-light" />
          </a>
        </div>
      </div>
    </nav>
  </div>
</footer>
