---
import ComfortaaLogo from '../../components/logos/ComfortaaLogo.astro';
import HamburgerMenu from '../../components/navigation/HamburgerMenu.astro';
import HamburgerMenuItem from '../../components/navigation/HamburgerMenuItem.astro';
import ThemeSwitcher from '../../components/theme/ThemeSwitcher.astro';
import MainNavigation from '../../components/navigation/MainNavigation.astro';
---

<header
  id="default-header"
  class="sticky
          top-0
          z-40
          mt-2
          border-dark/5
          bg-light/80
          backdrop-blur-sm
          dark:border-light/10
          dark:bg-dark/80
          md:mt-4
          xl:mt-6"
>
  <div class="container mx-auto flex items-center px-4 py-4 md:px-6 xl:px-8">
    <div class="grow">
      <ComfortaaLogo />
    </div>

    <div class="hidden sm:block">
      <MainNavigation />
    </div>

    <ThemeSwitcher />

    <HamburgerMenu>
      <HamburgerMenuItem href="/">Início</HamburgerMenuItem>
      <HamburgerMenuItem href="/autores/bruno-novais">Sobre</HamburgerMenuItem>
      <HamburgerMenuItem href="/artigos">Artigos</HamburgerMenuItem>
      <HamburgerMenuItem href="/cursos">Cursos</HamburgerMenuItem>
      <HamburgerMenuItem href="/contato">Contato</HamburgerMenuItem>
    </HamburgerMenu>
  </div>
</header>

<script>
  const headerRef: HTMLElement | null =
    document.querySelector('#default-header');

  if (headerRef != null) {
    const observer = new IntersectionObserver(
      ([entry]) => {
        if (entry.isIntersecting) {
          headerRef.classList.remove('border-b');
        } else {
          headerRef.classList.add('border-b');
        }
      },
      { root: null, rootMargin: '-1px 0px 0px 0px', threshold: 1.0 }
    );

    observer.observe(headerRef);
  }
</script>
