---
import ComfortaaLogo from '@components/logos/ComfortaaLogo.astro';
import ExtendedNavigation from '@components/navigation/ExtendedNavigation.astro';
import MainNavigation from '@components/navigation/MainNavigation.astro';
---

<default-header
  class:list={[
    'sticky top-0 z-40 mt-2 backdrop-blur-sm md:mt-4 xl:mt-6',
    'border-dark/20 bg-light/80',
    'dark:border-light/10 dark:bg-dark/80',
  ]}
  role="banner"
  aria-label="Cabeçalho"
>
  <div class="container mx-auto flex items-center p-4 md:px-6 xl:px-8">
    <div class="grow">
      <ComfortaaLogo />
    </div>

    <nav class="flex items-center">
      <ExtendedNavigation />
      <MainNavigation />
    </nav>
  </div>
</default-header>

<script>
  class DefaultHeader extends HTMLElement {
    private observer: IntersectionObserver = null;

    constructor() {
      super();

      this.observer = new IntersectionObserver(
        ([entry]) => {
          if (entry.isIntersecting) {
            this.classList.remove('border-b');
          } else {
            this.classList.add('border-b');
          }
        },
        { root: null, rootMargin: '-1px 0px 0px 0px', threshold: 1.0 }
      );
    }

    connectedCallback(): void {
      this.observer.observe(this);
    }

    disconnectedCallback(): void {
      this.observer.unobserve(this);
    }
  }

  customElements.define('default-header', DefaultHeader);
</script>
